<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/style/card.css">
<%- include('../includes/navigation.ejs') %>
 <main>
<!-- <pre><%= JSON.stringify(prods, null, 2) %></pre>  // cl in ejs  -->
            <%  if (prods.length > 0) { %>
                <ul class="cart__item-list">
                    <% prods.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.title %></h1>
                            <h2>Quantity: <%= p.cartItem.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                <form action="/order_items" method="post">
                    <button class="btn">Order</button>
                </form>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
<%- include('../includes/end.ejs') %>