<%- include('../includes/start.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/style/order.css">
<main>
     <% if(order <=0 ) {%>
     <h1>Nothing to be ordered</h1>
     <% }else{%>
          <ul class="orders">
               <% order.forEach(item =>{ %>
               <li>
                    <!-- <% console.log('This is logged to the server console.', item.id); %> -->

                    <h1># <%= item._id %></h2>
                    <ul class="orders__products">
                         <% item.items.forEach(product => { %>

                         <li  class="orders__products-item">
                              <%= product.title %> ( <%= product.quntity %>)
                         </li>
                         <% }); %>
                    </ul>
               </li>
               <% }) ;%>
          </ul>
     <%} %>     
</main>
<%- include('../includes/end.ejs') %>