<%- include('../includes/start.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main>
     <% if(order <=0 ) {%>
     <h1>Nothing to be ordered</h1>
     <% }else{%>
          <ul>
               <% order.forEach(item =>{ %>
               <li>
                    <!-- <% console.log('This is logged to the server console.', item.id); %> -->

                    <h2> # <%= item.id %></h2>
                    <ul>
                         <% item.products.forEach(product => { %>

                         <li>
                              <%= product.title %> ( <%= product.quntity %>)
                         </li>
                         <% }); %>
                    </ul>
               </li>
               <% }) ;%>
          </ul>
     <%} %>     
</main>
<%- include('../includes/end.ejs') %>