<%- include('../includes/start.ejs') %>
   <link rel="stylesheet" href="/style/auth.css">
   <link rel="stylesheet" href="/style/main.css">
     
</head>
<%- include('../includes/navigation.ejs') %>
<%if(errorMessage) { %>


<div class="user_err"><%= errorMessage %></div>

<% }%>
<div class="window log_in-window">
  <form method="post" class="flex" action="/new-password">
      <h3>New Password</h3>
        
        <div class="last_name flex">
          <label for="password" class="last_name-label">Password</label>
          <input type="password" name="password" id="lastName" />
        </div>
<input type="hidden" name="userId" value="<%= userId %>">
<input type="hidden" name="passwordToken" value="<%= passwordToken %>">
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="submit">New Password</button>
      </form>
      
      </div>
<%- include('../includes/end.ejs') %>