<%- include('../includes/start.ejs') %>
   <link rel="stylesheet" href="/style/auth.css">
   <link rel="stylesheet" href="/style/main.css">
     
</head>
<%- include('../includes/navigation.ejs') %>
<div class="window log_in-window">
  <form method="post" class="flex" action="/reset">
   <%if(errorMessage) { %>

 
   <div class="user_err"><%= errorMessage %></div>
   
   <% }%>
      <h3>Reset Password</h3>
        <div class="name flex">
          <label for="email">Email</label>
          <input type="email" name="email" id="Name" />
        </div>
       
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="submit">Reset Password        </button>
      </form>
      </div>
<%- include('../includes/end.ejs') %>